:root{
  --bg-color: #e4e9ec;
  --bg-color-alpha: rgba(228,233,236,0.95);
  --text-color: #333333;
  --box-shadow: 5px 5px 10px #d4d9db, -5px -5px 10px #f4f9fd;
  --inner-shadow: inset 5px 5px 5px #d6dbde, inset -5px -5px 5px #f2f7fa;
}

.menu {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
}

.menu-title {
  height: 40px;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #EBEBEB;
}

.menu-list {
  height: calc( 100vh - 140px);
  margin-left: 20px;
  font-weight: 200;
}

.menu-list a {
  text-decoration: none;
  color: #333333;
}

.menu-list .category-btn:hover {
  color: #7b7b7b;
}

.menu-list-title {
  border-top: 2px solid #EBEBEB;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.menu-list-top {
  border-top: none;
}

.menu-list .second-list {
  padding-left: 30px;
  margin-bottom: 30px;
}

.menu-list .second-list li {
  font-size: 1.4rem;
  padding: 10px;
}

.menu .close {
  height: 40px;
  line-height: 40px;
  letter-spacing: 0.3rem;
  text-align: center;
  border-top: 2px solid #EBEBEB;
  font-size: 1.5rem;
  padding: 10px 0;
  cursor: pointer;
}

.menu .close:hover {
  color: rgba(100, 100, 100, 0.5);
}

.search-view {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-view .fa-times {
  position: absolute;
  top: 5vh;
  right: 5vh;
  font-size: 3rem;
  color: #333333;
  cursor: pointer;
}

.search-view-box {
  width: 70%;
  height: 25vh;
  margin: 0 auto;
}

.search-view-box input {
  width: 100%;
  height: 10vh;
  font-size: 4rem;
  letter-spacing: 1px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #8f6161;
}

.search-view-box input:focus {
  outline: none;
}

.search-view-box-detail {
  padding: 10px 0;
  color: #7b7b7b;
  font-size: 1.5rem;
}

/* ========== header =========== */
.header {
  height: 70px;
  width: 100%;
  background-color: var(--bg-color-alpha);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  z-index: 999;
}
.header-box {
  max-width: 1200px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header-search {
  height: 70px;
  padding: 0 10px;
  line-height: 70px;
  text-align: center;
}

.header-search .fa-search {
  font-size: 2rem;
  cursor: pointer;
}

.header-search .fa-search:hover {
  opacity: 0.5;
}

@media screen and (min-width: 960px) {
  .header .fa-bars {
    display: none;
  }
  .header-menu {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu a {
    text-decoration: none;
    color: #333333;
  }
  .header-menu li.memu-item{
    position: relative;
  }
  .header-menu li.menu-item a{
    display: block;
    width: 130px;
    line-height: 70px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1.0px;
    font-weight: 200;
    cursor: pointer;
  }
  .header-menu li a:hover {
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
  }
  .header-menu li .sub-menu{
    display: none;
    position: absolute;
    top: 100%;
  }
  .header-menu li .sub-menu li a{
    background-color: var(--bg-color-alpha);
    border-bottom: 1px solid white;
  }
  .header-menu li .sub-menu li a:hover{
    background-color: rgba(180, 180, 180);
    color: white;
  }
}

@media screen and (max-width: 959px) {
  .header .fa-bars {
    line-height: 70px;
    margin-left: 30px;
    font-size: 3rem;
    cursor: pointer;
  }
  .header .fa-bars:hover {
    opacity: 0.5;
  }
  .header-menu {
    display: none;
    transition: 0.5s all;
  }
  .header-menu li a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #333333;
    display: block;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-bottom: 1px solid #EBEBEB;
  }
  .header-menu li ul.sub-menu{
    margin-left: 30px;
    border-bottom: none;
  }
  .header-menu li a:hover{
    cursor: pointer;
    color: rgba(100, 100, 100, 0.5);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100vw;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    width: 100vw;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    width: 100vw;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

@-webkit-keyframes down {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100vh;
  }
}

@keyframes down {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100vh;
  }
}

@-webkit-keyframes upper {
  from {
    opacity: 1;
    height: 100vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes upper {
  from {
    opacity: 1;
    height: 100vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.hidden {
  display: none;
}

.show {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.non-show {
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

.down {
  -webkit-animation: down 0.5s;
          animation: down 0.5s;
}

.upper {
  -webkit-animation: upper 0.5s;
          animation: upper 0.5s;
}

.ban-scroll {
  overflow: hidden;
}
/*# sourceMappingURL=header.css.map */